---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% set maxPosts = collections.posts.length %}
<h2>Recent {% if maxPosts == 1 %}Post{% else %} Posts{% endif %}</h2>

{% set postslist = collections.posts | head(-5) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}